body {
    background-color: black;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    background-color: grey;
    border-style: solid;
    border-color: grey;
    border-width: 1rem;
    border-radius: 10px;
}

.display {
    background-color: lightgray;
    border-color: black;
    border-style: outset;
    border-radius: 15px;
    min-height: 200px;
    max-height: 200px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
}

.display-current {
    text-size-adjust: 30px;
    padding-top: 1rem;
}

.display-result {
    text-align: end;
}

.buttons {
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    min-height: 300px;
}

.button {
    background-color: slategray;
    border-radius: 5px;
}

.number {
    background-color: lightsteelblue;
}

.equal {
    grid-column: span 2;
}