<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Calculator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>
        <div class="container">
            <div class="display">
                <div class="display-current">1+1</div>
                <div class="display-result">2</div>
            </div>
            <div class="buttons">
                <div class="button span-1 function">AC</div>
                <div class="button span-1 function">DEL</div>
                <div class="button span-1 function">(-)</div>
                <div class="button span-1 operation">/</div>
                <div class="button span-1 number">7</div>
                <div class="button span-1 number">8</div>
                <div class="button span-1 number">9</div>
                <div class="button span-1 operation">*</div>
                <div class="button span-1 number">4</div>
                <div class="button span-1 number">5</div>
                <div class="button span-1 number">6</div>
                <div class="button span-1 operation">-</div>
                <div class="button span-1 number">1</div>
                <div class="button span-1 number">2</div>
                <div class="button span-1 number">3</div>
                <div class="button span-1 operation">+</div>
                <div class="button span-2 number">0</div>
                <div class="button span-1">.</div>
                <div class="button span-1 equal">=</div>
            </div>
            
        </div>
        

        <script defer src="../static/index.js"></script>
    </body>
</html>